/* Color */
$primary-n      : #ffcdd2   ;
$primary-l      : #ffebee   ;
$primary-d      : #cb9ca1   ;

$secondary-n    : #64b5f6   ;
$secondary-l    : #9be7ff   ;
$secondary-d    : #2286c3   ;

$colorP         : $primary-l  ;
$colorS         : #f5f5f5   ;

$variant-black1 : #212121   ;
$variant-black2 : #717171   ;

/* Fonts */
@font-face {
    font-family : "Strait";
    src: url('../fonts/Strait-Regular.ttf');

}
$primaryFont    :  "Strait", sans-serif;